<div class="form-group">
  <%= f.label :main_image %>
  <%= f.file_field :main_image %>
  <%= f.hidden_field :main_image_cache %>
  <% if model.main_image.attached? %>
    <%= image_tag model.main_image %>
  <% end %>
</div>
<%= f.submit %>
